*{
	margin: 0px;
	padding: 0px;

}
@font-face{
	font-family: "multi";
	src:url("Muli-Black.ttf");
}
@font-face{
	font-family: "ubuntu";
	src:url("Ubuntu-Light.ttf");
}
@font-face{
	font-family: "titanium";
	src:url("TitilliumWeb-Black.ttf");
}
body{
	background-image: url("camaro.jpg");
	background-size: 100% 108vh;
}

nav{
	width: 100%;
	height: 60px;
	background-color:rgba(200,200,200,1);
}

nav p{
	font-family: "multi";
	font-size: 40px;
	padding-left: 15px;
	text-transform: uppercase;
	
	color: black;
	line-height: 60px;
	float: left;
}
#lol{
	color: rgba(255,19,90,1);
}
nav ul{
	float: left;
	padding-right: 20px;
	padding-left: 30px;
}

nav ul li{
	float: left;
	list-style: none;
	position: relative;
}
nav ul li a{
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 18px;
	padding: 18px 15px;
	padding-right: 25px;
	text-transform: uppercase;
	color: black;
	display: block;
	text-decoration: none;
}
nav ul li ul{
	position: absolute;
	display: none;
	background-color: rgba(200,200,200,1);
	border-radius: 0px 0px 8px 8px;
	margin-top: 0px;
	padding: 4px 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav ul li:hover>ul{
	display: block;
}

nav ul li a:hover{
color: rgba(230,39,110,1);
}

nav ul li ul a{
padding: 12px 20px;
padding-right: 35px;
width: 55px;
}

nav ul li ul a:hover{
font-weight: bold;
font-size: 20px;
background-color: rgba(180,180,180,1);

}

#para{
	font-family: "titanium";
	font-size: 80px;
	color: rgba(255,255,255,0.5);
	text-transform: capitalize;
	margin-top: 20px;
	margin-left: 70px;
}
#lol1{
	color: rgba(230,39,110,0.8); 
}